{
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        // "targets": {
        //   "chrome": "58"
        // },
        // 必要な分だけのpolyfillを自動でインポート
        "useBuiltIns": "usage",
        "debug": true,
        "corejs": { "version": 3, "proposals": true }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
